header{
  
    height: 55px;
    margin: 15px;
    
}
nav{
    height: 40px;
    background-color: rgb(81, 214, 255);
}
section{

    height: 600px;
    background-color: rgb(255, 255, 255);
    margin: auto;
}
footer{
    height: 150px;
    background-color: rgb(81, 214, 255);
    margin: auto;
}
#menu ul{
  list-style-type: none;
  text-align: center;
  overflow: hidden;
}
#menu ul li{
    display: inline-table;
    width: 120px;
    height: 40px;
    line-height: 40px;
}
#menu ul li a{
    display: block;
    text-decoration: none;
}
#menu ul li a:hover{
  background: #1768ff;
  color: #333;
}
a{
    text-decoration: none;
    color: black;
}
#in4{
  text-align: center;
  overflow: hidden;
}
#in4 ul li{
   display: inline-table;
   width: auto;
   height: 60px;
   line-height: 60px;
}
#in4 ul li img{
 height: 50%;
 width: 50%;
}

.aicon{
  height: 50%;
  width: 30%;
}