<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="layout.css">
    <title>App Chat</title>
</head>
<body>
   <div id="wrapper">
     <div id="loginForm">
        <h3>Nhập Tên</h3>
        <input type="text" id="txtUserName">
        <input type="button" value="Register" id="btnRegister">
     </div>
     <div id="chatForm">
        <div id="left">
            <div id="boxTitle">User Online</div>
            <div id="boxContent">
                
            </div>
        </div>
        
        <div id="right">
            <div id="sayHi">Hello
                <span id="currentUser">Teo</span>
                <input type="button" id="btnLogout" value="Logout">
            </div>
            <div id="LisMessages"></div>
            
            <div id="thongBaoDangSoan"></div>
            <input type="text" id="txtMessage">
            <input type="button" id="btnSendMessage" value="send">
        </div>
     </div>
   </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="jquery.js"></script>
<script src="suLy.js"></script>
</html>