.header {
    height: 120px;
    background-image: linear-gradient(0, rgb(240, 133, 12),rgb(173, 97, 9));
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
}

.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar--item--has-qr:hover .header__qr {
    display: block;
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link{
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
    color:rgb(20, 20, 19);
    
}
.header__navbar-item--strong {
    font-weight:400;
}
/* 2 cái gạch  */
.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left:1px solid #d6cbcb;
    height: 22px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}
/* icon fb insta */
.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}
/* 4 cái icon luôn */
.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0px 5px;
}
/* kết nối */
.header__navbar-title--no--poiner {
    cursor: text;
    color: var(--white-color);
}

/* header Qr code */
.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 100%;
    padding: 8px;
    border-radius: 20px;
    display: none;
    animation: fadeIn ease-in 0.2s;
}

.header__qr-img {
    width: 186px;
    border-radius: 20px;
}
/* notifycation */
.header__notify {
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    border: 1px solid rgb(109, 7, 100);
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease-in 1s;
    display: none;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3 {
    color: rgb(165, 52, 52);
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: rgba(255, 149, 0, 0.116) ;
}
.header__notify-item--viewed {
    background-color: rgba(255, 149, 0, 0.301) ;
}


.header__notify-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;

}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1rem;
    color: var(--black-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notify-descriotion {
    display: block;
    font-size: 0.8rem;
    line-height: 1.6rem;
    color: rgb(65, 61, 61);
    margin-top: 4px;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--black-color);
    padding: 8px;
    width: 100%;
    font-size: 1.rem;
    font-weight: 400;
    text-align: center;
}